*{
margin:0;
padding: 0;
box-sizing: border-box;
}

main{
background-image: url(imgz/r3.jpg);
max-width: 100%;
min-height: 750px;
background-repeat: no-repeat;
}

.app{
  width: 90%;
  margin: 3.5vh auto;
  height: auto;
  border: 1px solid rgba(0 ,0, 102, 0.5);
  background-color: rgba(255, 255, 255, 0.6);
  padding-bottom: 1vh;
}

.a2{
color: rgba(0 ,0, 102, 1);
margin-top: 2vh;
}
.ab1{
margin-bottom: 1vh;
}
.form1{
  width: 90%;
  margin: 0 auto;
}
input, select{
  width: 90%;
  height: 50px;
  margin: 0 auto;
}

label{
width: 90%;
text-align: center;
font-size: 19px;
font-weight: 600;
}

footer{
  width: 100%;

  bottom:0;
  min-height: 300px;
  background: rgb(157,213,58);
  background: rgb(181,189,200);
  background: -moz-linear-gradient(-45deg, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
  background: linear-gradient(135deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
}

.wrapper{
  width: 980px;
  margin: 0 auto;
}
.wrapper h3{
  padding-top: 1vh;
  color: white;
  font-weight: 600;
  text-align: center;
}
.wrapper ul{
color: white;
padding: 3%;
list-style-type:  none;

}

@media (max-width: 600px){
  .wrapper h3{
    padding-top: 1vh;
    color: white;
    font-weight: 600;
    clear:both;
    padding: 3%;
    text-align: left !important;
  }
  .wrapper ul{
  color: white;
  padding: 3%;
  list-style-type:  none;
  text-align: left !important;
  }


  .wrapper{
    width: 500px;
    max-width: 500px;
  }

}
